* { all: unset; }

.bar {
    min-height: 40px;
    background-color: #dfdfdf;
    color: #373737; /*lmfao*/
}

.bg {
    background-color: #F4EFD7;
}

.awesome-butt {
    min-width: 30px;
    min-height: 30px;
    margin: 5px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Awesome_logo.svg/2048px-Awesome_logo.svg.png");
    background-size: 100% auto;
}

.clock {
    min-width: 30px;
    min-height: 30px;
    margin: 5px 15px;
}

.app-icon {
    margin-right: 5px;
}